<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
   
    <div class="w-full h-full p-10 bg-zinc-900 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-4">Update User</h1>
       
        <form action="/update/<%= user._id%>" method="post" >
            <input type="text" class="px-5 py-3 bg-transparent border-2 border-zinc-800 outline-none rounded-lg" value="<%= user.name %>" placeholder="name" name="name">
            <input type="text" class="px-5 py-3 bg-transparent border-2 border-zinc-800 outline-none rounded-lg" placeholder="email" name="email" value="<%= user.email %>" >
            <input type="text" class="px-5 py-3 bg-transparent border-2 border-zinc-800 outline-none rounded-lg" placeholder="image url" name="image" value="<%= user.image %>" >
            <input type="submit" class="px-5 py-2 bg-yellow-500 text-black rounded-lg ml-3 outline-none" value="Update User">
        </form>
    </div>
</body>
</html>